<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Services</h2><br>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Service</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Digital marketing services propel businesses forward online, 
                            leveraging strategies like SEO, SEM, and social media. Web development crafts a strong digital presence through user-friendly websites,
                             e-commerce solutions, and innovative applications, ensuring businesses thrive in the digital era.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Coaching</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Coaching services guide businesses through the digital landscape,
                             offering strategic insights for effective digital marketing and web development. 
                             Empowering organizations to navigate the complexities, coaching fosters growth, engagement, and success in the ever-evolving digital realm.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Consulting</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Digital consulting transforms businesses by providing expert guidance in digital marketing 
                            and web development strategies. 
                            Tailored advice and solutions drive enhanced online presence, fostering success in the dynamic digital landscape.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Hire a professional</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Hire a seasoned professional to navigate the complexities of digital marketing and web development. 
                            Benefit from expert insights,
                             tailored strategies, and a roadmap to elevate your business in the digital realm.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Family!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>